<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	default-init-method="init" default-destroy-method="destroy2"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

 	<context:component-scan base-package="com.epam.training.eventrecorder" />

	
<!-- 	<bean class="com.epam.botor.processors.SayRiseBeanPostProcessor" /> -->
<!-- 	<bean class="java.lang.Runtime" factory-method="getRuntime" id="runtime" /> -->

<!-- 	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer"> -->
<!-- 		<property name="customEditors"> -->
<!-- 			<map> -->
<!-- 				<entry key="java.lang.String" -->
<!-- 					value="com.epam.botor.propertyeditor.MyStringTrimmerEditor" /> -->
<!-- 			</map> -->
<!-- 		</property> -->
<!-- 	</bean> -->

<!-- 	<bean id="conversionService" -->
<!-- 		class="org.springframework.context.support.ConversionServiceFactoryBean" -->
<!-- 		autowire="byName" /> -->

<!-- 	<util:list id="converters"> -->
<!-- 		<bean class="com.epam.botor.converters.LightSabreConverter" /> -->
<!-- 	</util:list> -->

<!-- 	<context:property-placeholder location="classpath:starwars.properties"/> -->
	
	
<!-- 	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> -->
<!-- 		<property name="location" value="classpath:starwars.properties"/> -->
<!-- 	</bean> -->

<!-- 	<bean id="odanUrr" class="com.epam.botor.domain.Jedi" c:name="Odan urr" -->
<!-- 		c:gender="MALE" p:bestFriend-ref="obi" p:lightsabre-ref="lightSabre" /> -->


<!-- 	<bean id="obi" class="com.epam.botor.domain.Jedi" primary="true"> -->
<!-- 		<constructor-arg value="   Obi Van Kenobi   " /> -->
<!-- 		<constructor-arg value="MALE" /> -->
<!-- 		<property name="bestFriend" ref="odanUrr" /> -->
<!-- 		<property name="lightsabre" value="Obi's private light sabre, 100" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="mace" class="com.epam.botor.domain.Jedi" > -->
<!-- 		<constructor-arg value="Mace" /> -->
<!-- 		<constructor-arg value="MALE" /> -->
<!-- 		<property name="bestFriend" ref="odanUrr" /> -->
<!-- 	</bean> -->


<!-- 	<bean id="johan" class="com.epam.botor.domain.Jedi"> -->
<!-- 		<constructor-arg value="johan" /> -->
<!-- 		<constructor-arg value="MALE" /> -->
<!-- 		<property name="lightsabre"> -->
<!-- 			<bean class="com.epam.botor.domain.LightSabre"> -->
<!-- 				<constructor-arg value="DarkLighter" /> -->
<!-- 				<constructor-arg value="30" /> -->
<!-- 			</bean> -->
<!-- 		</property> -->
<!-- 	</bean> -->

<!-- 	<bean id="lightSabre" class="com.epam.botor.domain.LightSabre" -->
<!-- 		autowire-candidate="false"> -->
<!-- 		<constructor-arg value="Slicer" /> -->
<!-- 		<constructor-arg value="10" /> -->
<!-- 		<property name="color" value="RED" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="defaultLightSabre" class="com.epam.botor.domain.LightSabre"> -->
<!-- 		<constructor-arg value="Default" /> -->
<!-- 		<constructor-arg value="#{systemProperties['defaultLightSabreDamage'] ?: 2000}" /> -->
<!-- 		<property name="color" value="RED" /> -->
<!-- 	</bean> -->


<!-- 	<bean id="odanUrrLightSabre" factory-bean="odanUrr" -->
<!-- 		factory-method="createLightSabre" autowire-candidate="false"> -->
<!-- 		<constructor-arg value="Slicer" /> -->
<!-- 	</bean> -->

<!-- 	<bean class="com.epam.botor.domain.Army" id="lightArmy" autowire="byName"/> -->
<!-- 	<alias name="odanUrr" alias="leader"/> -->

<!-- 	<bean class="com.epam.botor.domain.Army" id="darkArmy"> -->
<!-- 		<constructor-arg name="leader" ref="johan" /> -->
<!-- 		<constructor-arg name="fighters" ref="darkTroopers" /> -->
<!-- 	</bean> -->

<!-- 	<bean class="com.epam.botor.domain.Army" id="greyArmy" > -->
<!-- 		<constructor-arg name="leader" ref="obi" /> -->
<!-- 		<constructor-arg name="fighters" ref="darkTroopers" /> -->
<!-- 	</bean> -->
	
<!-- 	<util:list id="myArmies" list-class="java.util.concurrent.CopyOnWriteArrayList" > -->
<!-- 		<ref bean="lightArmy" /> -->
<!-- 		<ref bean="darkArmy" /> -->
<!-- 	</util:list> -->

<!-- 	<util:list id="fighters" list-class="java.util.concurrent.CopyOnWriteArrayList"> -->
<!-- 		<ref bean="trooper" /> -->
<!-- 		<ref bean="trooper" /> -->
<!-- 		<ref bean="trooper" /> -->
<!-- 		<ref bean="trooper" /> -->
<!-- 		<ref bean="trooper" /> -->
<!-- 		<ref bean="trooper" /> -->
<!-- 		<ref bean="trooper" /> -->
<!-- 		<ref bean="mace" /> -->
<!-- 	</util:list> -->

<!-- 	<util:list id="darkTroopers" list-class="java.util.concurrent.CopyOnWriteArrayList"> -->
<!-- 		<ref bean="trooper" /> -->
<!-- 		<ref bean="trooper" /> -->
<!-- 	</util:list> -->

<!-- 	<bean id="trooper" class="com.epam.botor.domain.Trooper" scope="prototype"> -->
<!-- 		<constructor-arg value="No name trooper" /> -->
<!-- 		<constructor-arg value="MALE" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="abstractTrooper" class="com.epam.botor.domain.Person" -->
<!-- 		abstract="true"> -->
<!-- 		<constructor-arg value="Trooper" /> -->
<!-- 		<constructor-arg value="MALE" /> -->
<!-- 	</bean> -->

<!-- 	<bean class="com.epam.botor.domain.BlasterPistol" scope="prototype"> -->
<!-- 		<constructor-arg value="My pistol" /> -->
<!-- 		<constructor-arg value="#{ T(java.lang.Math).random() * 100.0 }" /> -->
<!-- 	</bean> -->
	
<!-- 	<bean class="com.epam.botor.domain.BlasterFactoryBean" id="blasterFactory"> -->
<!-- 		<constructor-arg value="Name of blaster"/> -->
<!-- 		<constructor-arg value="100"/> -->
<!-- 	</bean> -->

<!-- 	<bean id="tatuin" class="com.epam.botor.domain.Battleground"> -->
<!-- 		<constructor-arg value="${battleground.name}"></constructor-arg> -->
<!-- 		<constructor-arg value="${battleground.type}"></constructor-arg> -->
<!-- 	</bean> -->

<!-- 	<bean id="naboo" class="com.epam.botor.domain.Battleground"> -->
<!-- 		<qualifier value="defaultBattleGround"/> -->
<!-- 		<constructor-arg value="Naboo"></constructor-arg> -->
<!-- 		<constructor-arg value="DRY"></constructor-arg> -->
<!-- 	</bean> -->
	
<!-- 	<bean id="battle" class="com.epam.botor.domain.Battle"> -->
<!--  		<constructor-arg name="armies" ref="armies"></constructor-arg> -->
<!-- 	</bean> -->


<!-- 	<util:constant static-field="com.epam.botor.domain.LightSabre.DEFAULT_DAMAGE" -->
<!-- 		id="defaultDamage" /> -->
<!-- 	<util:property-path path="trooper.age" id="ageOfTrooper" /> -->
</beans>
